* {
  box-sizing: border-box;
}

html {
  --bg: rgb(255, 255, 255);
  --fg: #000000;
  --gray: rgb(90, 90, 90);
  --royal: #0a63a2;
  --blue: rgb(0, 114, 206);
  --primary: rgb(0, 114, 206);
  --secondary: var(--royal);
  --tertiary: #ff585d;

  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  font-size: calc(0.65em + 0.7vw);
  line-height: 1.3;

  ::selection {
    background: var(--secondary);
    color: var(--bg);
  }

  @media (prefers-color-scheme: dark) {
    --bg: #25282a;
    --fg: #fff;
    --secondary: var(--blue);

    ::selection {
      background: var(--secondary);
      color: var(--fg);
    }
  }
}
form {
  text-align: center;
  margin: 15px;
  border: #929292 1px solid;
  border-radius: 25px;
  padding: 15px;
}

img {
  width: 300px;
  height: 300px;
}
body {
  padding: 0 1em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.highlight {
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
  width: 100%;
  label {
    margin-right: 0.5em;
  }
  input {
    caret-color: var(--secondary);
  }
}

label {
  color: var(--gray);
}

button,
.highlight {
  border-radius: 5px;
  border-color: var(--primary);
  border: 0.1em solid var(--primary);
  padding: 0.5em 1em;

  &:hover,
  &:focus,
  &:focus-within {
    border-color: var(--secondary);
  }
}

input {
  border: none;
  flex: 1;
  &:read-only {
    color: var(--primary);
  }
}

input[type="number"] {
  text-align: center;
  border-bottom: 0.1em solid var(--primary);
  margin: 0 1em;
  width: 4em;
  padding-left: 0.5em;
  &:hover,
  &:focus {
    border-color: var(--secondary);
  }
}

button,
input {
  background: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
}
h1 {
  margin: 0 auto;
}
button {
  position: relative;
  transition: top 50ms;
  &:hover,
  &:focus {
    top: -1px;
  }
  &:active {
    background: var(--secondary);
    border-color: var(--secondary);
    top: 1px;
  }
}
header button {
  float: right;
}
.is-premium {
  border-left: 0.25em solid var(--secondary);
  padding-left: 0.25em;
  margin-left: -0.5em;
}
header {
  text-align: center;
}

#img-wrapper {
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
}
#entry {
  text-align: center;
}
#entry img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}

#entry p {
  padding: 25px;
}

main {
  text-align: center;
}
